* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 970px;
}

ul.header-nav {
	font-size: 12pt;
}


h1, h2, h3, h4, h5, a {
	color: #a60600;
}

h1, h2, h3, h4, h5, p, ul, ol {
	padding: 5px;
	vertical-align: top;
}

span {
	color: white;
}

hr {
	margin: 10px;
	border: 0;
	height: 2px;
	background: #828282;
}

.header-sidetext {
	display: inline-block;
	color: white;
	font-size: 16pt;
	margin: 12px 0 0 0;
	font-family: cursive;
}

div.text-size {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 300px;
	margin-top: 5px;
	font-size: 12pt;
	margin-left: 100px;
}

div.text-size a {
	color: #DAAC30;
}

div.text-size ul {
	margin-bottom: 5px;
}

div.text-size li {
	color: white;
	list-style-type: none;
	display: inline-block;
}

input {
	padding: 2px;
}


nav {
	background: #e6e6e6;
	padding: 7px;
	border-bottom: 1px solid #b4b4b4;
}

nav li {
	display: inline;
	margin: 0px 10px;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	border-right: 1px solid #b4b4b4;
	padding-right: 15px;
	color: #66666e;
}



ul.nav2 {
	margin: 5px;
	padding: 15px 10px;
}


header {
	background-color: #820400;
}

header h2 {
	color: white;
	display: inline-block;
	margin: 0;
}

img.header-logo {
	display: inline-block;
	margin-left: 30px;
	width: 300px;
	margin-bottom: 5px;
}

div.container {
	margin: 30px 25px;

}
div.sidebar {
	display: inline-block;
	vertical-align: top;
	background: #eeeeee;
	padding: 10px 25px;
	width: 170px;
	border: 1px solid #d4d4d4;
	margin: 10px 5px;
}

div.main-content {
	display: inline-block;
	width: 620px;
	padding: 0px 25px 25px 25px;
	vertical-align: top;
}

div.main-content h1, h2, h3, h4, h5, p {
	padding: 10px 5px;
}

div.main-content ul, ol  {
	padding: 0px 40px;
}

.nav2 li {
	margin-bottom: 5px;
}
