<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form class="" action="/result" method="post">
    <input type = 'text' placeholder = 'name' name = 'name'>
    <select class="" name="location">
      <option value="Bedroom">Bedroom</option>
      <option value="Bathroom">Bathroom</option>
      <option value="Office">Office</option>
      <option value="Nowhere">Nowhere</option>
      <option value="Secret Hideout">Secret Hideout</option>
    </select>

    <select name="stuff" id="">
      <option value="Cool">Cool</option>
      <option value="Hello">Hello</option>
      <option value="Words">Words</option>
      <option value="Hey">Hey</option>
      <option value="Hi">Hi</option>
    </select>
    <label>Description:</label>
    <textarea name = 'description'></textarea>
    <input type = 'submit' value = 'submit'>
  </form>

</body>
</html>
