<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      read on to learn about form actions, we'll talk about the method in a later section
      <form action='/users' method='post'>
          Name: <input type='text' name='name'>
          Email: <input type='text' name='email'>
          <input type='submit' value='create user'>
      </form>
    </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <title>Form Test Index page</title>
    <meta name="description" content="Form Test home page using Flask">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/users' method='post'>
        Name: <input type="text" name="name" placeholder="Type your name here" autofocus>
        Email: <input type="text" name="email" placeholder="Type your email here">
        <input type="submit" value="Create user">
    </form>
</body>
</html> -->
